@import "./style.css";

#mobile-icons {
  display: none;
}

.menu-toggle {
  display: none;
  background: transparent;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  padding: 0;
}

.menu-toggle span {
  background: var(--white);
  display: block;
  height: 2px;
  margin-bottom: 8px;
  width: 20px;
}

.menu-toggle span:nth-last-child(1) {
  margin-bottom: 0;
}

@media (max-width: 580px) {
  .menu-toggle {
    display: block;
  }

  .mobile-bar {
    display: flex;
    position: fixed;
    justify-content: space-evenly;
    background-color: var(--menu-bg);
    bottom: 0;
    left: 0;
    width: 100%;
   
    padding-top: 10px;
    padding-bottom: 8px;
    z-index: 999;
  }

  .mobile-bar #mobile-icons {
    display: block;
    margin-inline: auto;
    width: clamp(15px, 5vw, 25px);
    padding: 0;
    margin-bottom: calc(var(--def-space) * .25);
  }

  .mobile-bar span {
    display: block;
    text-align: center;
    font-size: calc(var(--def-space) * .5);
  }
}