<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="signUp.css" />
    <title>Enter Account</title>
  </head>
  <body>
    <div class="d-flex align-center justify-center vh-100 bg-black">
      <div class="bg-secondary border-radious">       
          <div class="d-flex row p-4">
            <form class="d-flex column align-center gap" action="/submit" method="get">
              <input type="text" name="name" id="" placeholder="name or email" />
              <input type="password" name="password" id="" placeholder="password" />
              <input type="submit" name="submit" id="" />
            </form>
            <div>
                <img src="img/lock.svg" alt="image" class="">
            </div>
          </div>        
      </div>
    </div>
    <script src="logIn.js"></script>
  </body>
</html>
